@CHARSET "UTF-8";

/****** css reset ********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;	/* 1em = 10px */
	font: inherit;
	vertical-align: middle;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
sup, sub{
	font-size:40%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: disc;
}
img{ outline:none !important; }
select{
	cursor: pointer;
	-webkit-appearance: menulist-button;
	left: 0;
	top: 0;
	height: 3em;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	min-width:7em;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

label, input, img {
	‎-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

input {
	border: 1px inset !important;
	line-height: 2;
	outline: none;
}

table{
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.Base {
	position:relative;
	z-index: 10;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	height: 100%;
	width: 100%;
	overflow:hidden;
	user-select: none;
	-webkit-user-select: none;
}

/****** id ********/
#mask{
	z-index: 99998;
	width: 100%;
	height: 100%;
	background:-webkit-gradient(radial, center center, 100, center center, 240, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.95)));
}

/****** action ******/
.Pressed{}
.Selected{}
.Disabled {
	background: rgba(224, 162, 85, 0.30);
	border: 4px solid  rgba(255, 255, 255, 0.50);
}
.Expand{}
.Collapse{}

/****** layout type ******/
.Vertical{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.Horizontal{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

/****** Accordion ********/
.Accordion > div {		/* stack */
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	z-index: 11;
	width: 100%;
}

.Accordion > div > div:first-child { /* header */
	color: white;
	padding: 5px;
	vertical-align: middle !important;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
	min-height: 20px;
	margin-bottom: 10px;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#f38d48),
   color-stop(98%,#ce6522),
   to(white));
    border:1px solid #8e888b;
}

.Accordion > div.Expand > div:first-child {
	margin-bottom: 0px;
}
/*
.Accordion > div > div:first-child.Pressed {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,  from(gold), color-stop(0.5, orange), color-stop(0.5,coral), to(darkorange));
}
*/
.Accordion > div > div:last-child { /* content */
	overflow: hidden;
	padding:10px;
	color: #260c03;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
	-webkit-transition-property: height;
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: ease;
}

.Accordion > div.Expand > div:last-child {
	margin-bottom: 10px;
}

.Accordion > div.Collapse > div:last-child {
	padding-top: 0;
	padding-bottom: 0;
}

.AccordionArrow {
	border: .4em solid white;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	height: 0.001em;
	width: 0.001em;
	margin-left:2px;
}

.Accordion > div.Expand > div > .AccordionArrow {
	position: relative;
	top: .3em;
	left: -.2em;
	border-top-color: white;
	border-left-color: transparent;
}

/******** Button **********/
.Button {
	color: #1f0707;
	text-decoration: none;
	display: inline-block;
	padding: 0.3em 0.5em 0.5em 0.5em;
	height:1.2em;	
	min-width: 1.3em;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.CircleButton{
	font-size: 13px;
	-webkit-box-sizing: border-box;
	padding: 7px;
	color:white;
	text-align: center;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: 2px solid;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(135,44,37,1)),to(rgba(52,17,15,1)));
	border: none;
    -webkit-box-shadow: 0 -3px 1px #624847 inset, 0 3px 1px #64201b inset;
}
.CircleButton.Pressed{
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(52,17,15,1)),to(rgba(135,44,37,1)));
	 -webkit-box-shadow: 0 3px 1px #624847 inset, 0 -3px 1px #64201b inset;
}
/******** Checkbox **********/
.CheckBoxGroup, .RadioButtonGroup {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 100%;
}
.CheckBoxGroup > span, .RadioButtonGroup > span {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	border: 4px solid  rgba(255, 255, 255, 0.50);
	color: white;
	padding:5px 20px 5px 5px;
	background: rgba(224, 162, 85, 0.30);
	-webkit-border-radius:10px;
	margin:0px 10px 2px 10px;
}
.CheckBoxGroup.Horizontal > span.Pressed, .RadioButtonGroup.Horizontal > span.Pressed {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(gold), color-stop(0.5, orange), color-stop(0.5,coral), to(darkorange));
	border: 4px solid #ffffff;
}
.CheckBoxGroup.Horizontal > span > input, .CheckBoxGroup.Horizontal > span > div, .RadioButtonGroup.Horizontal > span > input, .RadioButtonGroup.Horizontal > span > div {
	display: none;
}
.CheckBoxGroup > span:first-child, .RadioButtonGroup > span:first-child {
	-webkit-border-radius:10px;
}

.CheckBoxGroup > span:last-child, .RadioButtonGroup > span:last-child {
	-webkit-border-radius:10px;
}
.CheckBoxGroup.Horizontal > span.Selected, .RadioButtonGroup.Horizontal > span.Selected {
	background-color:#E0A255;
	border: 4px solid #ffffff;
}

/********** Chevron (arrow) **********/
.Chevron {
	position: relative;
	margin-right: 0.5em;
	top: -0.6em;	
}

.Chevron > span {
	position: absolute;
	width: 0.3em;
	height: 0.8em;
	background: gray;
}

.Chevron > span:first-child {
	-webkit-transform: rotate(-45deg);
}

.Chevron > span:last-child {
	-webkit-transform: rotate(45deg);
	top: 0.4em;	
}

/**** cell *****/
/**** BuyItem cell ***/


/******* Header ******/
.HeaderPanel {
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-webkit-box-shadow: 0px 0px 12px  #633a1e;
	z-index: 11;
	height:3em;
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(90,80,80,0.3)),to(rgba(4,1,0,0.8)));
	color: #fff;
	font-weight:bold;
	line-height:35px;
	padding:0px 10px !IMPORTANT;
	overflow:ellipsis;
	vertical-align:middle;
	text-align:center;	
}

.HeaderPanel > div:nth-child(2) > div{
	font-size:1.3em;
}
.HeaderPanel > div:nth-child(2) img{
	width: 175px !important;
	height: 54px !important;
	background-size: 175px;
}
.HeaderPanel > div:first-child, .HeaderPanel > div:last-child {
	min-width:3.5em;
}
.HeaderPanel > div:first-child, .HeaderButton.NextButton{
	margin-left: 0.8em;
}
.HeaderPanel > div:last-child, .HeaderButton.BackButton{
	margin-right: 0.8em;
}
.HeaderButton{
	font-size:1em;
	color:#1f0707;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	 background:-webkit-gradient(linear,center top, center bottom,
   from(#f9f9f9),
   color-stop(49%, #f9f9f9),
       color-stop(50%, #e3e0e1),
       color-stop(51%, #cdc9cb),
       color-stop(98%, #b1abae),
   to(#afaaad));
	border-radius: 3px;
}
.HeaderButton > span.Button {
	height:1.2em;	
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-left: 0 !important;
	line-height: 1.4em;
	display: block;
	border-radius: 3px;
}
.HeaderButton > span.Pointer {
	position:absolute;
	display:block;
	height:25px;
	width:25px;
	top:5px;
	border-top: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0.1em 0.1em 0.1em;
	z-index: -1;
	background:-webkit-gradient(linear,left top, right bottom,
   from(#f9f9f9),
   color-stop(49%, #f9f9f9),
       color-stop(50%, #e3e0e1),
       color-stop(51%, #cdc9cb),
       color-stop(98%, #b1abae),
   to(#afaaad));
   border-radius: 3px;
   -webkit-box-shadow: inset 0px 0px 2px black;
}
.BackButton > span.Pointer {
	left:-12px;
	border-right: 0;
	-webkit-transform: rotate(45deg);
}
.NextButton > span.Pointer {
	right:-12px;
	border-left: 0;
	-webkit-transform: rotate(45deg);
}
.BackButton > span.Button, .HeaderButton > .ButtonText {
	-webkit-box-shadow: inset -2px 0 2px black;
	padding-right: 4px; 
	border-radius: 3px;
}
.NextButton > span.Button{
	-webkit-box-shadow: inset 2px 0 2px black;
	padding-left: 7px;
}
.HeaderButton.Pressed > span.Button, .HeaderButton.Pressed > .ButtonText{
	background:-webkit-gradient(linear,center top, center bottom,
   from(#212021),
       color-stop(50%, #6d6d6d),
       color-stop(51%, #1f1f1f),
   to(#1f1f1f));
   color:white;
	border-radius: 3px;
	-webkit-box-shadow: none;
}
.HeaderButton.Pressed > span.Pointer{
	background:-webkit-gradient(linear,left top, right bottom,
   from(#212021),
       color-stop(50%, #6d6d6d),
       color-stop(51%, #1f1f1f),
   to(#1f1f1f));
	-webkit-box-shadow: none;
}

/****** input *********/
.INPUT{
	margin: 0em;
	font-size: normal;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 3em;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: -webkit-auto;
	-webkit-appearance: textfield;
	padding: 1px;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#8e888b),
   color-stop(2%, #fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
	border: 1px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	min-height:25px;
	min-width: 50px;
	width:95%;
}

.INPUT span.emptyMsg{
	color:gray;
}

.INPUT.Focus{
	outline: 5px auto -webkit-focus-ring-color;
	-webkit-box-shadow: orange 0em 0em 0.4em;
}
.DateTimeSelectionBox > select{
	margin-right:5px;
	margin-bottom:7px;
}
.SelectInput{
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: .5em 0em .5em 0em;
	padding: 0;
background: #FDFDFD;
font-weight: bold;
color: #111;
  background:-webkit-gradient(linear,center top, center bottom,
   from(white),
   to(#c5c0c1));
       border:1px solid #8e888b;
       border-radius: 8px;
       -webkit-box-shadow: 0px 2px #8e888b;
	
}
.SelectInput.Pressed{
	 background:-webkit-gradient(linear,center bottom, center top,
   from(white),
   to(#c5c0c1));
   -webkit-box-shadow: none;
}
.SelectInput > span{
	padding: .6em 25px .6em 3px;
display: block;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
position: relative;
zoom: 1;
-webkit-border-radius: 1em;
border-radius: 1em;
border-top: 1px solid white;
border-color: rgba(255, 255, 255, .3);

}
.SelectInput > span > span:first-child{
text-overflow: ellipsis;
overflow: hidden;
display: block;
min-height: 1em;
}

.SelectInput > span > span:last-child {
	right: 5px;
	position: absolute;
top: 50%;
margin-top: -9px;
width: 18px;
height: 18px;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
box-shadow: 0 1px 0 rgba(255,255,255,.4);
background: rgba(0, 0, 0, .4);
background-repeat: no-repeat;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
}

.SelectInput > select{
	cursor: pointer;
-webkit-appearance: button;
left: 0;
top: 0;
width: 100%;
min-height: 1.5em;
min-height: 100%;
height: 3em;
max-height: 100%;
opacity: 0;
-ms-filter: "alpha(opacity=0)";
filter: alpha(opacity=0);
z-index: 2;
position: absolute;
}
.AddressSelectionBox{margin-right:15px;}
.AddressSelectionBox > .SelectInput{
	background:-webkit-gradient(linear,center top, center bottom,
   from(#6d6064),
   to(#2b1603));
       line-height:24px;
       width:130px;
       text-align: center;
       font-size:1em;
       color:white;
       border:1px solid #999;
       -webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}
.AddressSelectionBox > .SelectInput.Pressed{
	background:-webkit-gradient(linear,center bottom, center top,
   from(#6d6064),
   to(#2b1603));
}
/***** Flex Grid Panel *********/
.FlexGridPanel{
	width:100%;
}
.FlexGridContainer{
	width:100%;
	clear: both;
    overflow:hidden;
}
.FlexGridContainerTitle{
	border: none;
	opacity:0.7;
	margin: 5px 30px 5px 30px;
	line-height:26px;
       height:26px;
       font-size:1.3em;
       text-align: center;
       font-weight:bold;
       color:#FFF;
       border-radius: 5px;
}
.FlexGrid{
	-webkit-box-sizing:border-box;
	float:left;
	overflow:hidden;
}
.FlexGrid.left { float:left; }
.FlexGrid.right { float:right; }

.color1 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#450900),to(#94531B)); }
.color2 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#861405),to(#EA5514)); }
.color3 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#EA5514),to(#F6AB00)); }
.color4 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#006530),to(#81C048)); }
.color5 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#1D2088),to(#00A0E9)); }
.color6 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#480367),to(#A44C99)); }
.color7 > .FlexGridContainerTitle{ background:-webkit-gradient(linear,left top, right top, from(#F49F32),to(#FCF15D)); }
/***** Footer *********/
.Footer{
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	padding: 0.1em 0.1em;
	z-index: 11;
	height: 0.1em;
	background-color: rgba(255, 255, 255, 0.75);
}

/********** List Group **********/
.ListGroup {
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	z-index: 10;
	border-radius: 5px;
	margin:auto;
	margin-bottom:20px;
}
.ListGroup > div{
	width:90%;
	height:100%;
	min-height:48px;
	margin:auto;
	color:#fff;
	border: 1px solid #ffffff;
	padding:5px;
	vertical-align:middle !important;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
	background-color:#E0A255;
}
.ListGroup > div:first-child{
	-webkit-border-top-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-top-left-radius: 0.4em;
	border-top-left-radius: 0.4em;
}
.ListGroup > div:last-child{
	-webkit-border-bottom-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	-webkit-border-bottom-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;	
}
/********** List Panel (touch) **********/
.ListItem {
	padding: 0px 10px !IMPORTANT;
	vertical-align:middle;
	font-size: 16px;
	font-weight:bold;
	height:47px;
	line-height:47px;
	overflow:hidden;
	white-space:nowrap;
	-webkit-user-select: none;
	pointer-events:none;
}
.ListItem div {
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	user-select: none;
	pointer-events:none;
}
.ListPanel {
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	z-index: 10;
	border-radius: 5px;
	margin:auto;
	margin-top:10px;
}
.ListPanel > div {
	width:90%;
	margin:auto;
	color:#fff;
	-webkit-border-radius:15px;
	border: 4px solid #ffffff;
	padding:5px;
	vertical-align:middle !important;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
	min-height:47px;
	margin-bottom:20px;
	background-color:#E0A255;
}
.ListPanel > div.Disabled {
	background: rgba(224, 162, 85, 0.30);
	border: 4px solid  rgba(255, 255, 255, 0.50);
}

/************** Popup Panel **************/
.BusyPanel{
	margin: auto;
	z-index: 99999;
}
.BusyPanelAnimation{
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	margin: 10px 30px 0 30px;
}
.BusyPanelAnimation > div{
	background-color: #FFA800;  
	background-image: -moz-linear-gradient(-135deg, #FFA800 25%, #BD0000); 
	background-image: -webkit-linear-gradient(-135deg, #FFA800 25%, #BD0000);
	border-left:1px solid #BD0000; border-top:1px solid #BD0000; border-right:1px solid #FFA800; border-bottom:1px solid #FFA800; 
	width:10px;
	height:10px;
	float:left;
	margin-left:5px;
    opacity:0.1;
	-moz-transform:scale(0.7);
	-webkit-transform:scale(0.7);
}
.BusyPanelAnimation > div:first-child, .BusyPanelAnimation > div:last-child{
	-webkit-animation:move1 1s infinite linear;
}
.BusyPanelAnimation > div:nth-child(2), .BusyPanelAnimation > div:nth-child(4){
	-webkit-animation:move2 1s infinite linear;
}
.BusyPanelAnimation > div:nth-child(3){
	-webkit-animation:move3 1s infinite linear;
}
@-webkit-keyframes move1{
	40%{-webkit-transform: scale(1.2);opacity:1;}
	30%{-webkit-transform: scale(0.9);opacity:0.46;}
	20%{-webkit-transform: scale(0.85);opacity:0.37;}
	0%{-webkit-transform: scale(0.8);opacity:0.28;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}
@-webkit-keyframes move2{
	30%{-webkit-transform: scale(1.2);opacity:1;}
	20%{-webkit-transform: scale(0.9);opacity:0.46;}
	0%{-webkit-transform: scale(0.85);opacity:0.37;}
	100%{-webkit-transform: scale(0.8);opacity:0.28;}
	40%{-webkit-transform: scale(0.7);opacity:0.1;}
}
@-webkit-keyframes move3{
	20%{-webkit-transform: scale(1.2);opacity:1;}
	0%{-webkit-transform: scale(0.9);opacity:0.46;}
	100%{-webkit-transform: scale(0.85);opacity:0.37;}
	40%{-webkit-transform: scale(0.8);opacity:0.28;}
	30%{-webkit-transform: scale(0.7);opacity:0.1;}
}
.DialogPanel{
	z-index: 99999;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#8e888b),
   color-stop(2%, #fbf9f7),
   color-stop(98%,#c5c0c1),
   to(#8e888b));
    border:1px solid #8e888b;
    border-radius: 8px;
	padding: 10px;
	color: #260c03;
}
.DialogPanel .Button {
	background:-webkit-gradient(linear,center top, center bottom,
   from(#6d6064),
   to(#2b1603));
   -webkit-box-shadow: 0px 2px #8e888b;
    border-radius: 5px;
	color: white;
	padding: 5px;
	margin: 5px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: auto;
}
.DialogPanel .Button.Pressed{
	background:-webkit-gradient(linear,center bottom, center top,
   from(#6d6064),
   to(#2b1603));
   -webkit-box-shadow: none;
}
.ProductDialog{
	z-index: 99999;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#8e888b),
   color-stop(2%, #fbf9f7),
   color-stop(98%,#c5c0c1),
   to(#8e888b));
    border:1px solid #8e888b;
    border-radius: 8px;
	padding: 10px;
	color: #260c03;
}
.ProductDialog .Title{
	text-align: center;
	font-size:  1.8em;
}
.ProductDialog .Img{
	padding: 5px;
	background-color: white;
	width:95%;
}
.ProductDialog .OptionBox{ margin-top: 10px; }
.ProductDialog .OptionPanel{
	display: -webkit-box;
	-webkit-box-pack: justify;
	width: 100%;
	margin-bottom: 7px;
}
.ProductDialog .OptionPanel > div:last-child{ max-width: 12em; }
.ProductDialog .OptionPanel > .OptionTitle, .ProductDialog .AmountPanel > div:first-child{
	display: table-cell;
}
.ProductDialog .WebOptionPanel > .OptionTitle{ padding-top: 10%; }
.ProductDialog .AmountPanel{
	display: -webkit-box;
	-webkit-box-pack: justify;
}
.AmountOption{
	-webkit-box-pack: justify;
}
.AmountPanel .AmountOption .AmountLabel{
	font-size: 1.5em;
	min-width: 1.5em;
	text-align: center;
	padding-top: 5%;
}
.AmountOption .AmountLabel{
	font-size: 1.5em;
	min-width: 1.5em;
	text-align: center;
	padding-top: 1%;
}
.AmountOption .Button{
	background:-webkit-gradient(linear,center top, center bottom,
   from(#6d6064),
   to(#2b1603));
    border-radius: 5px;
	width: 40px;
	height: 20px !important;
	font-size: 2em;
	font-weight: bold;
	line-height: 0.5em;
	margin-top: 5px;
}

.ProductDialog .Price{
	text-align: right;
	margin-top: 5px;
	font-size:  1.5em;
	color:white;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#6c1813),
   color-stop(14%, #b63127),
   color-stop(90%, #541612),
   to(#95706e));
	padding:8px;
}


.ProductDialog .OptionTitle{
	text-align: right;
	margin-top: 15px;
	font-size:  16px;
	padding-top: 3px;
}


.ProductDialog .Btns, .DialogPanel .Btns {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
}
.ProductDialog .Btns > div{
	color: white;
	padding: 5px;
	margin: 5px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 35px;
}

/********** Progress Bar **********/
.ProgressBarPanel {
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
}
.ProgressBar {
	margin:3px 5px 3px 5px;
	width: 100px;
	height: 10px;
	background-color:black;
	border-left: 1px solid #111;
	border-top: 1px solid #111;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	-webkit-border-radius:7px;
}
.Progress {
	background-color: #CE0000;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(198,9,9,0.5);
	-webkit-border-radius:10px;
	height: 100%;
}

/********** Scroll Panel **********/
.ScrollPanel {
	-webkit-box-flex: 10;
	z-index: 10;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.ScrollContent{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.ScrollContent > * {
	position: relative;
}
.ScrollBar.Segment {
	-webkit-box-sizing:content-box;
	width: 33px;
	text-align: right;
	font-size:12px;
	margin: 0px 4px 0px 0px;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0ms;
	overflow: hidden;
	-webkit-transition-delay: 0ms;
	opacity: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.ScrollBar.Segment > .SegmentWidget{
	width: 100%;
	height:66px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	border-bottom-left-radius: 33px;
	border-top-left-radius: 33px;
	overflow: hidden;
	-webkit-box-pack: center;
}
.SegmentWidget > div{ 
	width: 50%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow:visible;
	margin-left: 50%;
}
.SegmentWidget.color1{ background:-webkit-gradient(linear,left bottom, left top, from(#450900),to(#94531B)); }
.SegmentWidget.color2{ background:-webkit-gradient(linear,left bottom, left top, from(#861405),to(#EA5514)); }
.SegmentWidget.color3{ background:-webkit-gradient(linear,left bottom, left top, from(#EA5514),to(#F6AB00)); }
.SegmentWidget.color4{ background:-webkit-gradient(linear,left bottom, left top, from(#006530),to(#81C048)); }
.SegmentWidget.color5{ background:-webkit-gradient(linear,left bottom, left top, from(#1D2088),to(#00A0E9)); }
.SegmentWidget.color6{ background:-webkit-gradient(linear,left bottom, left top, from(#480367),to(#A44C99)); }
.SegmentWidget.color7{ background:-webkit-gradient(linear,left bottom, left top, from(#F49F32),to(#FCF15D)); }
.ScrollExceedTopMsgWidget{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	color:#333;
}

/********** Shopping Car Panel **********/
.ShoppingCar{
	position:relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-webkit-box-shadow: 0px 0px 12px #633a1e;
	z-index: 11;
	color: #ffffff;
	height: 3.3em;
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(76,67,61,0.75)),color-stop(50% ,#3a3837),color-stop(51% ,#292826),to(rgba(4,1,0,0.8)));}
.ShoppingCar > .Car {
	z-index: 12;
	height: 100%;
	width:100%;
	padding: 0.3em 0.3em;
	overflow:visible;
}
.ShoppingCar > .Msg {
	z-index: 12;
}
.Car > div:first-child{
	margin-top: -3px !important;
}
.ShoppingCar .Button {
	color: white;
	margin-right: 10px;
	height: 70%;
	vertical-align: middle;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	border:2px solid #260c03;
	border-bottom:none;
    background:-webkit-gradient(linear,center top, center bottom,
   from(#6c1813),
   color-stop(14%, #b63127),
   color-stop(90%, #541612),
   to(#95706e));
    border-radius: 8px 8px 0px 0px;
    -webkit-box-shadow: inset 0px 4px 8px #260c03;
}
.ShoppingCar .Button.Pressed{
	background:-webkit-gradient(linear,center bottom, center top,
   from(#6c1813),
   color-stop(14%, #b63127),
   color-stop(90%, #541612),
   to(#95706e));
   -webkit-box-shadow: none;
   border:none;
}
/******** Takeout Switcher **************/
.TabPanel {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	width: 100%;
	-webkit-box-flex:1;
}
.TabPanel > .TabHeader {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	width: 100%;
	height:3em;
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(76,67,61,0.75)),color-stop(50% ,#3a3837),color-stop(51% ,#292826),to(rgba(4,1,0,0.8)));
}

.TabPanel > .TabHeader > .TabButton {
	color:white;
	-webkit-box-flex:1;
	text-align: center;
	height:100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	border:2px solid black;
    -webkit-border-image:-webkit-gradient(linear,center top,center bottom, from(rgba(0,0,0,1)),to(rgba(88,88,88,0.7)));
}
.TabPanel > .TabHeader > .TabButton > img{
	width:30px !important;
	height:30px !important;
	background-size: 30px;
}
.TabButton.TabButtonSelected, .TabButton.Pressed {
	background:-webkit-gradient(linear,center top,center bottom, from(rgba(207,92,9,0.7)),color-stop(49% ,#c4580a),color-stop(50% ,#b14c02),to(rgba(142,63,4,0.8)));
    border:1px solid #431d04;
}
.TabPanel > .TabContent {
	width: 100%;
	-webkit-box-flex:1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
}
.TabPanel > .TabContent > div {
	-webkit-box-flex:1;
}

/******** Takeout Switcher **************/
.TakeOutSwitcher > span {
	width:50%;
}

/******** Transition **************/
.transitionSlide, .transitionSlideUp, .transitionSlideDown {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in-out;
    position: absolute;
}
.transitionSlide.transitionIn, .transitionSlide.transitionOut.reverse.transitionStart {
    -webkit-transform: translate3d(100%, 0, 0);
}
.transitionSlide.transitionOut.transitionStart, .transitionSlide.transitionIn.reverse {
    -webkit-transform: translate3d(-100%, 0, 0);
}

.transitionSlide.transitionOut, .transitionSlide.transitionOut.reverse, .transitionSlide.transitionIn.transitionStart, .transitionSlide.transitionIn.reverse.transitionStart {
    -webkit-transform: translate3d(0, 0, 0);
}
/*==================================*/
.SubmitButton{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	border: none;
	background-color: #E0A255;
	margin: 10px auto 15px auto;
	width: 50%;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#ff8b19),
   to(#ae4e00));
   -webkit-box-shadow: 0px 2px #666;
       border-radius: 20px;
       height:24px;
       line-height: 24px;
       text-align: center;
       font-size:1.1em;
       color:white;
}
.SubmitButton > img{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding: 0px 10px 0px 10px;
	margin-right: -30px;
}
.SubmitButton.Pressed {
	background:-webkit-gradient(linear,center bottom, center top,
   from(#ff8b19),
   to(#ae4e00));
   -webkit-box-shadow: none;
}

/* ----- start page ------ */
#store {
	width:300px;
	margin:auto;
	padding:10px 0px 0px 0px;
}
#shop {
	width:150px;
	height:80px;
	margin:auto;
	padding:0px 0px 0px 0px;
}
#shop_logo {
	width:100px;
	height:52px;
	margin:auto;
	padding:2px;
	background-color:#FFF;
}
#shop_logo > img{
	width:100%;
	height:100%;
}
#clear {
	clear:both;
}
#startpage_mider_bg {
	height:100px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(19%,rgba(255,255,255,0)), color-stop(20%,rgba(247,167,0,0.84)), color-stop(21%,rgba(247,167,0,1)), color-stop(22%,rgba(247,167,0,0.97)), color-stop(26%,rgba(247,167,0,0.97)), color-stop(27%,rgba(247,167,0,1)), color-stop(28%,rgba(247,167,0,0.68)), color-stop(29%,rgba(247,167,0,0.02)), color-stop(30%,rgba(247,167,0,0)), color-stop(32%,rgba(247,167,0,0)), color-stop(33%,rgba(247,167,0,0.34)), color-stop(34%,rgba(247,167,0,1)), color-stop(35%,rgba(247,167,0,0.97)), color-stop(77%,rgba(247,167,0,0.97)), color-stop(78%,rgba(247,167,0,0.98)), color-stop(79%,rgba(247,167,0,0.9)), color-stop(80%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
}
.startpage_mider {
	margin:auto;
	padding:10px 0px 0px 0px;
	 display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
.index_btn {
	 display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    margin-right: 5px;
    margin-left: 5px;
    border: 3px solid white;
	-webkit-border-radius: 10px;
	background: #c08131;
}
.StartPageButton{
	height: 70px;
	width: 70px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	color: white;
	-webkit-border-radius: 8px;
	border: 4px solid #c99052;
	background: -webkit-gradient(linear, left top, right bottom, 
		color-stop(20%, rgba(255,255,255,0.1)), color-stop(30%, rgba(255,255,255,0.15)), 
		color-stop(45%, rgba(255,255,255,0.2)), color-stop(55%, rgba(255,255,255,0.2)), color-stop(55%, rgba(255,255,255,0)));
}
.StartPageButton > img{
	height: 40px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	margin: 3px;
}
#startpage_msg {
	padding:0px;
	margin:auto;
	width:95%;
	color:#664229;
}
#startpage_msg  li  {
	color:#664229;
	text-decoration:none;
	font-size:80%;
	line-height:100%;
	padding:5px 0px 5px 0px;
	border-bottom:1px dashed #664229;
}
#startpage_msg  li a{
	color:#FF6903;
	text-decoration:underline;
}

/* ------------- about page -------------*/
.about_text {
	width:100%;
	-webkit-box-sizing: border-box;
	margin:auto;
	padding:10px 10px 10px 10px;
	line-height:1.2;
	color:#260c03;
	margin-top:20px;
	margin-bottom: 15px;
  display:block;
}
.about_text .INPUT{
	display: -webkit-box;
	margin-bottom: 5px;
}

.about_name {
	color:#FFFFFF;
	background-color:#930019;
	padding:5px;
	-webkit-border-radius:10px;
}
.FeedbackList > div > div:first-child{
	background:-webkit-gradient(linear,center top, center bottom,
   from(#846f61),
   color-stop(98%,#60493c),
   to(#b7ada7));
       border:1px solid #3f322d;
       line-height:1.4em;
       font-size:1em;
       color:white;
       top:3px;
       position: relative;
       min-height: 40px;
       width: 100%;
}
.FeedbackList > div > div:last-child{
	 background:-webkit-gradient(linear,center top, center bottom,
   from(#fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
       border:1px solid #8e888b;
       line-height:1.4em;
       font-size:1em;
       color:#260c03;
       bottom:3px;
       position: relative;
       min-height: 40px;
       width: 100%;
}
.FeedbackList > div > div:last-child > img{
	height: 1.4em; 
}
/* ------------- history page -------------*/
.OrderHistory > div:first-child > div:first-child, .OrderHistory > div:first-child > div:nth-child(2), .CheckOutPanel > div.TakeOutTypeMsg{
	color: #4F050F;
	padding: 5px;
	vertical-align: middle !important;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
	min-height: 20px;
	margin-bottom: 10px;
}
.OrderHistory > div:first-child{
 background:-webkit-gradient(linear,center top, center bottom,
   from(#fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
 border:1px solid #8e888b;
 display: block;
 
}
.OrderHistory > div:first-child > div:first-child{
	margin-bottom: 0px !important;
	border-bottom:none;
}
.OrderHistory > div:first-child > div:nth-child(2){
	border-top:none;
}
.Accordion.OrderHistoryPanel > div > div:first-child > div:nth-child(2), .OrderHistory > div:first-child > div:nth-child(2) > div:nth-child(2){
	text-align:center;
	width: 45%;
}
.Accordion.OrderHistoryPanel > div > div:first-child > div:nth-child(3), .OrderHistory > div:first-child > div:nth-child(2) > div:nth-child(3){
	text-align:center;
	width: 25%;
}
.Accordion.OrderHistoryPanel > div > div:first-child > div:nth-child(4), .OrderHistory > div:first-child > div:nth-child(2) > div:nth-child(4){
	text-align:center;
	width: 25%;
}
.Accordion.OrderHistoryPanel > div > div:first-child > div:nth-child(5), .OrderHistory > div:first-child > div:nth-child(2) > div:nth-child(5){
}

.Accordion.OrderHistoryPanel > div > div:last-child > .BuyList {
	padding-left:15px;
	margin:5px;
}

/* -------------category ListItem-------------*/
.ListPanel > .CategoryItem > img{
	height:45px;
}

.ListPanel > .CategoryItem > .gwt-Label{
	text-align: center;
	letter-spacing: 1px;
}

.gwt-Label {
	font-size:16px;
}

/* -------------product ListItem-------------*/
.ListPanel > .ProductItem > div:first-child {
	width:100px;
}
.ListPanel > .ProductItem > div > img{
	width: 100px;
	height:76px;
	margin-top: -38px;
	margin-left: -10px;
	position: absolute;
	border: 1px solid white;
	background: rgba(255, 255, 255, 0.80);
	border-radius: 10px;
	box-shadow: 
  rgba(0, 0, 0, 0.25) 
  0px 
  0px 
  10px;
}
/* -------------Order List Panel-------------*/
.TakeOutTypeMsg, .OrderInfoListTitle, .TotalMoneyPanel{
	color: #4F050F;
	padding: 7px;
	display: -webkit-box;
	-webkit-box-pack: justify;
	font-size: 16px;
	min-height: 20px;
	text-align: right;
	 background:-webkit-gradient(linear,center top, center bottom,
   from(#5d311a),
   color-stop(2%, #f38d48),
   color-stop(98%,#ce6522),
   to(white));
}
.TotalMoneyPanel{
	-webkit-box-orient: vertical;
}
.TotalMoneyPanel > div{
	-webkit-box-pack: justify;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-bottom:5px;
}
.OrderInfoList{ font-size:0.8em; }
.OrderInfoListTitle > div{ display: -webkit-box; -webkit-box-pack: end; }
.OrderInfoListTitle > div:first-child, .TotalMoneyPanel > div > div:first-child{ width:63%; text-align: left; -webkit-box-pack: start; }
.OrderInfoListTitle > div:nth-child(2), .TotalMoneyPanel > div > div:nth-child(2){ width:15%; }
.OrderInfoListTitle > div:nth-child(3), .TotalMoneyPanel > div > div:nth-child(3){ width:22%; }
.BuyItemCell > div:first-child{ width:63%; text-align: left; }
.BuyItemCell > div:nth-child(2){ width:15%; }
.BuyItemCell > div:last-child{ width:22%; }
.ScrollPanel{ padding-top:0.5em; background-color: rgba(255, 255, 255, 0.75); }
.OrderInfoList > div{
	overflow: hidden;
	padding:7px;
	color: #260c03;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#8e888b),
   color-stop(2%, #fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
	margin-top: 1em;
	margin-bottom: 1em;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
}
.OrderInfoList > div > .orderName {
	display: -webkit-box;
	-webkit-box-pack: center;
	position: absolute;
	margin-top: -1em;
	margin-left: 21%;
	width: 70%;
}
.OrderInfoList > div > .orderName > div {
	border: black solid 2px;
	line-height: 30px;
	text-align: center;
	background: -webkit-gradient(linear,center top, center bottom, from(#5D311A), color-stop(2%, #F38D48), color-stop(98%,#CE6522), to(white));
	padding: 0 5px 0 5px;
	margin-left: -30%;
}
.OrderInfoList > div > img:first-child {
	position: absolute;
	width: 2em;
	margin: -1em 0em 0em -0.4em;
}
.OrderInfoList > div > img:last-child {
	position: absolute;
	width: 2em;
	margin: -1em 0em 0em -2em;
}
.OrderInfoList .BuyItemCell{
	text-align: right;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	width:100%;
	padding:1em 5px 0px 0em;
}
.OrderInfoList .BuyItemCell .ProductName{
	font-size:1.3em;
}
.OrderInfoList .BuyItemCell .OptionPanel{
	padding-left: 5px;
	margin: 5px;
}
.OrderInfoList .Button{
	border: none;
	width: 5px;
	padding: 15px 2px 15px 2px;
	-webkit-box-shadow: 0px 0px 3px #666;
	 background:-webkit-gradient(linear,center top, center bottom,
   from(#72553d),
       color-stop(20%,#a47c58),
       color-stop(80%,#584234),
   to(#948982));
   height:100%;
       border-radius: 5px;
       text-align: center;
       font-size:1em;
       color:white;
}
.OrderInfoList .Button.Pressed{
	 background:-webkit-gradient(linear,center bottom, center top,
   from(#72553d),
       color-stop(20%,#a47c58),
       color-stop(80%,#584234),
   to(#948982));
}
.OrderInfo.Btns {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	background-color: rgba(255, 255, 255, 0.75);
}
.OrderInfo.Btns > .Button{
	border: 5px solid white;
	color: white;
	padding: 5px;
	margin: 5px;
	-webkit-border-radius: 0.3em;
	background: #E0A255;
	min-width: 5em;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#6c1813),
   color-stop(14%, #b63127),
   color-stop(90%, #541612),
   to(#95706e));
       border-radius: 4px;
       border: none;
       height:30px;
       line-height:30px;
       text-align: center;
       font-size:1.1em;
       color:white;
}
.OrderInfo.Btns > .Button.Pressed{
	background:-webkit-gradient(linear,center bottom, center top,
   from(#6c1813),
   color-stop(14%, #b63127),
   color-stop(90%, #541612),
   to(#95706e));
}

/* -------------User Info-------------*/
.UserInfo {
	position:relative;
	z-index: 11;
	width:100%;
	top:10px;
}
.UserInfo > tbody > tr > td > .INPUT{
	margin-bottom: 7px;
}
.UserInfo > tbody > tr > td{
	vertical-align:middle;
}
.UserInfo > tbody > tr > td:first-child {
	width:15%;
	padding:2px 2px 2px 5px;
	letter-spacing:1px;
	text-align:left;
}

.UserInfo > tbody > tr > td:last-child {
	width:80%;
	padding:2px;
}

.UserInfo > tbody > tr > td:last-child > div{
	width: 90%;
	display: -webkit-box;
	margin-bottom:7px;
	-webkit-box-orient: horizontal;
}

/* -------- finish panel -------- */
.FinishPanel{
	color:#4F050F;
	vertical-align:middle !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
}
.FinishPanel > div{
	padding: 20px;
}

/*==================================*/
.Base {
	font-size: 140%;	/* 1em = 10px */
	color:white;
} 

.HeaderPanel div.Button{ border: solid 2px white; }
.HeaderPanel div.Button .ButtonText { 
	height: 100%;
	width: 100%;
	top: -13px;
	position: relative;
}

.Center{ -webkit-box-flex:10; width:80%; height:50%; margin: auto;}
.Center table { height:100%; width:100%; }
.Center td { text-align:center; }
.Center .Button { width:6em; border: 5px solid white;
	color: white;
	padding: 5px;
	margin: 5px;
	-webkit-border-radius: 0.3em;
	background: #E0A255;
	border-radius: 10px;
	height: 1em;
	min-width: 5em;}
.Center .EventType-Img { width:100px; height:100px; margin-top:20px; margin-bottom:10px;background-color: white; padding: 7px;border-radius: 10px;}
.Pressed2 .EventType-Img { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(gold), color-stop(0.5, orange), color-stop(0.5,coral), to(darkorange)) !important; }

.StoreList { 
	text-align: left; 
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}
.StoreBriefWidget3{
	width:90%;
	text-align:center;
	position:relative;
	border:1px solid rgb(226, 226, 226);
	margin:2px 6px 12px 4px;
	padding:7px;
	border-radius:5px;
	background:white;
}
.StoreBriefWidget3 .Img{
	width:100%;
	margin-bottom:5px;
}
.StoreBriefWidget3 .Tag{
	display:none;
}
.StoreBriefWidget3 .InfoWidget{
	display:-webkit-box;
}
.StoreBriefWidget3 .NameWidget{
	color:#260C03;
	width:75%;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	text-align:left;
}
.StoreBriefWidget3 .Bar{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
}
.StoreBriefWidget3 .Bar > div{
	width:2px;
	height:45px;
	background:gray;
	border-radius:3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27) inset;
}
.StoreBriefWidget3 .Name{
	font-size:25px;
}
.StoreBriefWidget3 .Msg{
	color:dimGray;
}
.StoreBriefWidget3 .Status{
	width:25%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
}
.StoreBriefWidget2 {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width:100%;
	margin: 0px 5px 5px 5px;
	background:-webkit-gradient(linear,center top, center bottom,
   from(#8e888b),
   color-stop(2%, #fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
}
.StoreBriefWidget2-img{
	width: 88px;
	height: 66px;
}
.StoreBriefWidget2-info{
	min-width: 207px;
	min-height: 66px;
	margin-left:5px;
	-webkit-box-flex: 3;
}
.StoreBriefWidget2-name{
	font-size: 1.2em;
       color: #260c03;
    padding-top:5px;
}
.StoreBriefWidget2-msg{
	color: #260c03;
       padding: 4px 8px 0px 8px;
       text-align: left;
       font-size: 0.9em;
}
.StoreBriefWidget2-msg .important{
	color: #F00;
       padding: 8px 8px 0px 8px;
       text-align: left;
       font-size: 1em;
}
.StoreBriefWidget2 > div:last-child{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin-right: 10px;
}
.StoreBriefWidget2 > div:last-child > div:first-child { -webkit-box-flex: 1; }
.StoreBriefWidget2 .Chevron { -webkit-box-flex: 1; }
.StoreBriefWidget2 .Chevron > span { background: red; }
/*.StoreBrief-Img {
	padding: 7px;
	background-color: white;
	width: 250px;
	height: 200px;
	border-radius: 0px;
}
.StoreBriefWidget { padding-bottom: 20px; position: relative;}
.StoreBrief-Name{
	position: absolute;
	font-size: 1.3em;
	top: 150px;
	color: #fff;
	padding:0px 5px 20px 20px;
	text-shadow:0px 0px 4px #000;
	background:rgba(0, 0, 0, 0.3);
	text-align:left;
}
*/
div.StoreBrief-Msg {
	position: absolute;
	color: #fff;
	top: 174px;
	padding: 2px 0px 0px 20px;
	text-shadow:0px 0px 4px #000;
	text-align: left;
	font-size: 0.7em;
}

table.UserInfo .gwt-Label{
	font-size: 14pt;
	color: #260c03;
}
.asFooter > div:nth-child(2){
	line-height:normal !important;
	font-size:8pt;
}
.asFooter .Button { -webkit-border-radius: 0.5em; }	

.ProductBoxWidget2{
	width:100%;
	height:100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	border-radius: 5px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	background-color: rgba(255,255,255,0.7);
}
.ProductBoxWidget2-img{
	border-radius: 5px;
	margin-bottom: 3px;
	width:100%;
	height:50%;
}
.ProductBoxWidget2-info{
	height:50%;
	position: relative;
	width:100%;
}
.ProductBoxWidget2-infoNoImg{
	height:100%;
	position: relative;
	width:100%;
}
.ProductBoxWidget2-name{
	position: absolute;
	width: 100%;
	font-size: 1em;
	color: #260c03;
	text-align: left;
	font-weight: bold;
}
.ProductBoxWidget2-price{
	position: absolute;
	color: #660000;
	background: rgba(255, 255, 255, 0.75);
	bottom: 0px;
	padding: 2px 0px 0px 5px;
	text-shadow: 0px 0px 4px white;
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	right: 0px;
}

.ListGroup > div{
	color: #4F050F;
	padding: 5px;
	vertical-align: middle !important;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	font-size: 16px;
 background:-webkit-gradient(linear,center top, center bottom,
   from(#fbf9f7),
   color-stop(98%,#c5c0c1),
   to(white));
 border:1px solid #8e888b;
}


/*
.ProductBoxPanel{
	text-align: left; 
	display: inline-block;
}
.ProductBoxWidget { 
	display: inline-block;
position: relative;
height: 100px;
padding-bottom: 20px;
text-align: center;
}
.ProductBox-Name{
	position: absolute;
font-size: 1em;
top: 80px;
color: white;
text-shadow: 0px 0px 2px black;
text-align: left;
font-weight: bold;
width:100px;
}

.ProductBox-Price {
	position: absolute;
color: red;
top: 60px;
padding: 2px 0px 0px 5px;
text-shadow: 0px 0px 4px white;
text-align: left;
background: rgba(255, 255, 255, 0.6);
font-size: 0.8em;
font-weight: bold;
}
.ProductBox-Img {
background: rgba(255, 255, 255, 0.80);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
width: 100px;
height: 76px;
}
.ProductBoxWidget2 { 
	display: inline-block;
position: relative;
height: 40px;
text-align: center;
background: rgba(0, 0, 0, 0.3);
margin: 5px 2px 5px 2px;
}
.ProductBox-Name2{
	position: absolute;
font-size: 1em;
color: white;
text-shadow: 0px 0px 2px black;
text-align: left;
font-weight: bold;
width: 100px;
}

.ProductBox-Price2 {
	position: absolute;
color: red;
bottom: 0px;
padding: 2px 0px 0px 5px;
text-shadow: 0px 0px 4px white;
text-align: left;
background: rgba(255, 255, 255, 0.6);
font-size: 0.8em;
font-weight: bold;
right: 0px;
}

.ProductBoxWidget.Pad{
	height: 190px;
}
.ProductBox-Name.Pad{
	top: 145px;
	font-size: 1.7em;
	width:190px;
}
.ProductBox-Price.Pad{
	top: 113px;
	font-size: 1.5em;
}
.ProductBox-Img.Pad{
	width: 190px;
	height: 144px;
}
.ProductBoxWidget2.Pad{
	height: 80px;
}
.ProductBox-Name2.Pad{
	width:190px;
	font-size: 1.7em;
}
.ProductBox-Price2.Pad{
	font-size: 1.5em;
}
*/